{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}

    {################## Test CMS ###################}
    {#{{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'o-nas', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}#}

    {#{{ render(path('bitbag_sylius_cms_plugin_shop_block_render', {'code' : 'bloktest2', 'template' : '@App/Some/Template/_path.html.twig'})) }}#}

    {#{{ bitbag_cms_render_block('bloktest') }}#}

    <h2 class="ui horizontal section divider header">
        {{ 'sylius.ui.latest_products'|trans }}
    </h2>
    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
{% endblock %}
